<h1 class="p-2">Liste de toutes les annonces : </h1>

<div class="container d-flex flex-wrap justify-content-center p-5">
  <ng-container *ngFor="let ad of advertisements" class="p-2">

      <ng-container *ngIf="ad.user.id !== user?.id">
        <div class="col-3 p-2">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ad.name}}</mat-card-title>
              <mat-card-subtitle>{{ad.price}}€</mat-card-subtitle>
              <img class="img-responsive" mat-card-sm-image [src]="ad.link" alt="Aucune image">
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content style="height: 60px; overflow-y: auto">
            <small>Description : </small>
            {{ad.description}}
          </mat-card-content>
          <mat-card-actions *ngIf="user?.id && !getIsSold(ad)">
            <button mat-button (click)="openOfferModal(ad)" class="button-border m-2">Faire une offre</button>
          </mat-card-actions>
          <mat-card-content *ngIf="user?.id && getIsSold(ad)">Annonce vendue</mat-card-content>
        </mat-card>
        </div>
      </ng-container>

  </ng-container>
</div>
