<h1>Mes annonces : </h1>
<button class="button-full p-2" (click)="openAdvertisementModal()">Ajouter une annonce</button>

<div class="container d-flex flex-wrap justify-content-center p-5">
  <ng-container *ngFor="let ad of advertisements">
    <div class="col-3 p-1">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ad.name}}</mat-card-title>
            <mat-card-subtitle>{{ad.price}}€</mat-card-subtitle>
            <img class="img-responsive" mat-card-sm-image [src]="ad.link" alt="Aucune image">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content style="height: 60px; overflow-y: auto">
          <small>Description : </small>
          {{ad.description}}
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="ad.offers.length" mat-button (click)="openOffersToAdvertisementModal(ad)" class="button-border float-right m-2">Voir offres</button>
          <button mat-button (click)="openAdvertisementModal(ad)" class="button-border float-right m-2">Modifier</button>
          <button mat-button (click)="delete(ad)" class="delete float-right">Supprimer</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>
