<nav class="navbar header">
    <a class="navbar-brand text-white" routerLink="/">
        <img ngSrc="assets/img/logo_mc.png" width="40" height="40" class="d-inline-block align-top" alt="Logo application" >
        Le Mauvais Coin
    </a>
    <div class="d-flex justify-content-around">
        <button class="button-border" *ngIf="userDefined" routerLink="/account"  >Mon compte</button>
        <button class="button-border" (click)="disconnect()" *ngIf="userDefined" routerLink="/home">Se déconnecter</button>
        <button class="button-border" *ngIf="!userDefined" routerLink="/login">Se connecter</button>
        <button class="button-border" *ngIf="!userDefined" routerLink="/register">Créer un compte</button>
    </div>

</nav>

