<h2 mat-dialog-title>Modifier mon compte</h2>
<mat-dialog-content>

  <form [formGroup]="userForm" class="d-flex justify-content-center flex-column">
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput type="text" class="p-2" placeholder="smith" [formControl]="surname" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prénom</mat-label>
      <input matInput type="text" class="p-2" placeholder="jean" [formControl]="name" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" class="p-2" placeholder="pat@example.com" [formControl]="email" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Téléphone</mat-label>
      <input matInput type="text" class="p-2" placeholder="0782736125" [formControl]="phone" required>
    </mat-form-field>

    <div class="d-flex no-wrap">
      <mat-form-field class="col-10">
        <mat-label>Mot de passe</mat-label>
        <input matInput class="p-2" placeholder="password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
      </mat-form-field>
      <button type="button" mat-icon-button class="col-2" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
              style="border: none; background-color: white">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </div>

    <div class="d-flex no-wrap">
      <mat-form-field class="col-10">
        <mat-label>Confirmer mot de passe</mat-label>
        <input matInput class="p-2" placeholder="password" [type]="hide ? 'password' : 'text'" [formControl]="confirmPassword" required>
      </mat-form-field>
      <button type="button" mat-icon-button class="col-2" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
              style="border: none; background-color: white">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </div>
    <p *ngIf="(userForm.errors && userForm.touched) || userError" class="error p-2">
      Un ou des champs sont invalide(s).
    </p>
    <p *ngIf="emailIsAlreadyTaken" class="error p-2">
      Cette adresse mail est déjà prise.
    </p>
    <p *ngIf="passwordsAreNotMatching" class="error p-2">
      Les mots de passes saisis ne sont pas identiques.
    </p>
    <p *ngIf="sameUser" class="error p-2">
      Vous n'avez modifié aucun champs de votre profil.
    </p>
  </form>


  <div class="d-flex justify-content-between">
    <button mat-button class="button-border float-left p-2" (click)="onCancelClick()">Annuler</button>
    <button mat-button type="submit" class="button-full float-right p-2" (click)="onOkClick()">Modifier</button>
  </div>
</mat-dialog-content>
