<h2 mat-dialog-title>{{ data ? 'Modifier l\'annonce' : 'Créer une annonce' }}</h2>
<mat-dialog-content>

  <form [formGroup]="advertisementForm" class="d-flex justify-content-center flex-column">
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name" placeholder="Chaise">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Image</mat-label>
      <input matInput formControlName="link" placeholder="https://image-chaise.com">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Prix</mat-label>
      <input matInput type="number" formControlName="price" class="example-right-align" placeholder="0">
      <span matTextPrefix>€&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>
  </form>

  <p *ngIf="(advertisementForm.errors && advertisementForm.touched) || adverError" class="error p-2">
    Un ou des champs sont invalide(s).
  </p>

  <div class="d-flex justify-content-between">
    <button mat-button class="button-border float-left p-2" (click)="onCancelClick()">Annuler</button>
    <button mat-button type="submit" class="button-full float-right p-2" (click)="onOkClick()">{{ data ? 'Modifier ' : 'Créer' }}</button>
  </div>
</mat-dialog-content>
