<h1 class="d-flex justify-content-center p-2">Création un compte</h1>
<div class="d-flex justify-content-center p-2">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="userForm" class="p-2">
        <p class="mat-input-wrapper">
          <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput type="text" class="p-2" placeholder="smith" [formControl]="surname" required>
          </mat-form-field>
        </p>
        <p class="mat-input-wrapper">
          <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput type="text" class="p-2" placeholder="jean" [formControl]="name" required>
          </mat-form-field>
        </p>
        <p class="mat-input-wrapper">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" class="p-2" placeholder="pat@example.com" [formControl]="email" required>
          </mat-form-field>
        </p>
        <p class="mat-input-wrapper">
          <mat-form-field>
            <mat-label>Téléphone</mat-label>
            <input matInput type="text" class="p-2" placeholder="0782736125" [formControl]="phone" required>
          </mat-form-field>
        </p>
        <div class="d-flex inline-flex">
            <mat-form-field>
              <mat-label>Mot de passe</mat-label>
              <input matInput class="p-2" placeholder="password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
            </mat-form-field>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                    style="border: none; background-color: white">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </div>
        <div class="d-flex inline-flex">
            <mat-form-field>
              <mat-label>Confirmer mot de passe</mat-label>
              <input matInput class="p-2" placeholder="password" [type]="hide ? 'password' : 'text'" [formControl]="confirmPassword" required>
            </mat-form-field>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                    style="border: none; background-color: white">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </div>
        <p *ngIf="(userForm.errors && userForm.touched) || userError" class="error p-2">
         Un ou des champs sont invalide(s).
        </p>
        <p *ngIf="emailIsAlreadyTaken" class="error p-2">
          Cette adresse mail est déjà prise.
        </p>
        <p *ngIf="passwordsAreNotMatching" class="error p-2">
          Les mots de passes saisis ne sont pas identiques.
        </p>
        <div class="d-flex float-end">
          <button typeof="submit" mat-button (click)="createUser()" class="p-2 button-full" type="submit">Créer un compte</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
