/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

h1 {
  color: #113563;
}

h2 {
  color: #A0006D;
}

.button-full {
  background-color: #113563;
  color: #EAE7DD;
  padding: 0.5em;
  border: 2px solid #113563;
  border-radius: 8px;
}

.button-border {
  background-color: #EAE7DD;
  color: black;
  padding: 0.5em;
  border: 2px solid #A0006D;
  border-radius: 8px;
}

.error {
  background-color: #f6b6b6;
  color: darkred;
  padding: 2em;
  border-radius: 2px;
  border: 2px solid darkred;
}

.delete {
  background-color: #f6b6b6;
  color: darkred;
  padding: 0.5em;
  border-radius: 2px;
  border: 2px solid darkred;
}

.header {
  background: #113563;
}

.footer {
  background: #A0006D;
}

.card {
  max-width: 400px;
  margin-bottom: 8px;
}
