  <div class="p-5">
    <h1>Mon compte</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="value">
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>


  <div *ngIf="userDefined" class="d-flex justify-content-between p-5">
    <button (click)="deleteUser(user)" class="error">Supprimer</button>
    <button (click)="openUserModal(user)" class="button-full p-4">Modifier</button>
  </div>
