<h2 mat-dialog-title>Offres reçues sur mon annonce : </h2>
<mat-dialog-content>

<div class="d-flex justify-content-center flex-wrap m-2">
  <ng-container *ngFor="let of of offers">
    <div class="col-10">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-subtitle>Utilisateur : {{of.user.email}} </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <small>Prix : </small>
          {{of.price}}€
        </mat-card-content>
        <mat-card-content>
          <small>Etat : </small>
          {{of.state}}
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="of.state===EN_ATTENTE" class="col-2">
      <button mat-button class="button-full mb-2" (click)="onAcceptedClick(of)">Accepter</button>
      <button mat-button class="delete" (click)="onRefusedClick(of)">Refuser</button>
    </div>
  </ng-container>
</div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end">
  <div class="flex-column justify-content-center mr-5">
    <button mat-button class="button-border float-right p-3" (click)="onReturnClick()">Retour</button>
  </div>
</mat-dialog-actions>
