<h1 class="d-flex justify-content-center p-2">Me connecter</h1>
<div class="d-flex justify-content-center p-2">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" class="p-2">
        <p class="mat-input-wrapper">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" class="p-2" placeholder="pat@example.com" [formControl]="email" required>
        </mat-form-field>
        </p>
        <div class="d-flex inline-flex">
          <div class="float-left">
          <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput class="p-2" placeholder="password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
          </mat-form-field>
      </div>
        <div class="float-right">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                  style="border: none; background-color: white">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
        </div>
        <p *ngIf="(loginForm.errors && loginForm.touched) || loginError" class="error p-2">
          Email ou mot de passe invalide.
        </p>
        <div class="d-flex float-end">
          <button typeof="submit" mat-button (click)="connection()" class="p-2 button-full" type="submit">Se connecter</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
