<h2 mat-dialog-title>Indiquez le prix de votre offre :</h2>
<mat-dialog-content>
  <p *ngIf="bestOffer">Prix maximum proposé : {{bestOffer.price}}€</p>
  <p *ngIf="!bestOffer">Pas d'offre sur cette annonce</p>

  <form [formGroup]="offerForm" class="d-flex justify-content-center flex-column">
    <mat-form-field floatLabel="always">
      <mat-label>Prix</mat-label>
      <input matInput type="number" formControlName="price" placeholder="0">
      <span matTextPrefix>€&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>
  </form>

  <p *ngIf="(offerForm.errors && offerForm.touched) || offerError" class="error p-2">
    Un ou des champs sont invalide(s).
  </p>

  <p *ngIf="duplicateOfferError" class="error p-2">
    Vous avez déjà fait une offre pour cette annonce.
  </p>

  <div class="d-flex justify-content-between">
    <button mat-button class="button-border float-left p-2" (click)="onCancelClick()">Annuler</button>
    <button mat-button type="submit" class="button-full float-right p-2" (click)="onOkClick()">Valider</button>
  </div>
</mat-dialog-content>
