<h1 class="p-2">Bienvenue sur votre espace : {{user?.name + ' '+user?.surname}}</h1>
<div class="p-3">
  <mat-tab-group mat-stretch-tabs (selectedTabChange)="update($event)">
    <mat-tab label="Annonces"><jhi-all-advertisement></jhi-all-advertisement></mat-tab>
    <mat-tab label="Mes annonces"><jhi-my-advertisement></jhi-my-advertisement></mat-tab>
    <mat-tab label="Propositions envoyées" ><jhi-my-offers></jhi-my-offers></mat-tab>
  </mat-tab-group>
</div>

