<h1 >Mes propositions : </h1>

<div class="container d-flex flex-wrap justify-content-center p-5">
  <ng-container *ngFor="let of of offersWithAdvertisement" class="p-2">
    <div class="col-4 p-1">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{of.advertisement.name}}</mat-card-title>
            <mat-card-subtitle>{{of.price}}€</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content *ngIf="!of.bestOffer">
          <small>Aucune autre offre sur cette annonce</small>
        </mat-card-content>
        <mat-card-content *ngIf="of.bestOffer">
          <small>Prix maximum proposé par un autre utilisateur : </small>
          {{of.bestOffer.price}}€
        </mat-card-content>
        <mat-card-content>
          <small>Etat : </small>
          {{of.state}}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="delete(of)" class="delete float-right">Supprimer</button>
          <button mat-button (click)="openAdvertisementModal(of.advertisement)" class="button-border float-right m-2">Voir l'annonce</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>
