<ng-container *ngIf="user?.id !== undefined">
  <jhi-dashboard></jhi-dashboard>
</ng-container>
<ng-container *ngIf="user?.id === undefined">
  <jhi-dashboard-global></jhi-dashboard-global>
</ng-container>
