<h2 mat-dialog-title>Consultation d'une annonce</h2>
<mat-dialog-content>

  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{advertisement.name}}</mat-card-title>
      <mat-card-subtitle>{{advertisement.price}}€</mat-card-subtitle>
      <img class="img-responsive" mat-card-sm-image [src]="advertisement.link" alt="Aucune image">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content style="height: 60px; overflow-y: auto">
    <small>Description : </small>
    {{advertisement.description}}
  </mat-card-content>

  <div class="d-flex justify-content-between">
    <button mat-button class="button-border float-left p-2" (click)="onCancelClick()">Retour</button>
  </div>
</mat-dialog-content>
